<section class="login-section" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" fxLayout="column" fxLayoutGap="0.5rem" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field >
            <mat-label>Your Email</mat-label>
            <input 
            matInput  
            placeholder="Enter your email"
            type="email"
            formControlName="email">
            <mat-error *ngIf="!loginForm.controls.email.hasError('required')">Invalid email</mat-error>
            <mat-error *ngIf="loginForm.controls.email.hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Must be at least 6 characters long">
            <mat-label>Your Password</mat-label>
            <input 
            matInput 
            placeholder="Enter your password" 
            type="password" 
            formControlName="password">
            <mat-error *ngIf="!loginForm.controls.password.hasError('required')">Must be at least 6 characters long</mat-error>
            <mat-error *ngIf="loginForm.controls.password.hasError('required')">Please, enter your password</mat-error> 
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </form> 
</section> 


