<section class="new-training__section" fxLayout fxLayoutAlign="center">
    <form  (ngSubmit)="onStartTraining(f)" #f="ngForm">
        <mat-card fxFlex.xs="100%" fxFlex="400px">
            <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
            <!-- text-align: center; applied to mat-card has the same result for children as  fxLayoutAlign="center" -->
            <mat-card-content *ngIf="!isLoading && exercises" fxLayoutAlign="center"> 
                <mat-form-field>
                    <mat-label>Select type of training</mat-label>
                    <mat-select ngModel name="exercise" required>
                        <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                                {{ exercise.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error>You must select one option </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <mat-spinner *ngIf="isLoading"></mat-spinner>
                <button  *ngIf="!isLoading && exercises" mat-raised-button type="submit" color="primary" [disabled]=!f.valid>Start</button>
                <button *ngIf="!isLoading && !exercises" mat-raised-button color="primary" type="button" (click)="fetchAvailableExercises()">Reload</button>
            </mat-card-actions>  
        </mat-card>
    </form> 
   
    
</section>  


